<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pulsing Glowing Text</title>
</head>
<body><glow-tag>

    <h1>Magical Pulsing Header 1</h1>
    <h2>Magical Pulsing Header 2</h2>
    <h3>Magical Pulsing Header 3</h3>
    <p>This is a magical pulsing paragraph.</p>
    <p>This is another magical pulsing paragraph.</p>
    <script src="./glowTag/INglowTag.js"></script>
</body></glow-tag>
</html>
